* {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    clear: both;
    padding: 3px;
}

body {
    background-color: #161c22;
    text-align: center;
}

.nav {
    overflow: hidden;
    background-color: #e2e2e2;
}

.nav ul a {
    text-decoration:none;
    color: #2e2e2e;
}

.ul-nav {
    font-size:18px;
    float: right;
    width: 65%;
}

.li-nav {
    padding: 10px;
    display: inline;
}

h1 {
    text-transform: uppercase;
}

h3 {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    color:rgb(0, 0, 0);
    -webkit-text-stroke: 0.5px #ffffff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.foot {
    padding: 20px;
}

.ul-foot {
    list-style: none;
    padding: 0;
    font-size:18px;
    line-height:1.6;
    background-color:#000000;

}

.li-foot {
    background-color:#000000;
    padding:0 10px;
    display: inline;
}

.p-foot {
    background-color:#000000;
}

.foot ul a {
    text-decoration:none;
    background-color:#000000;

}